@import url('https://fonts.googleapis.com/css2?family=Heebo&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Heebo', sans-serif;
}
#topnav{
    background-color: rgb(255, 255, 255);
    box-shadow: 5px 5px rgb(204, 202, 202);
    width: 100%;
    overflow: hidden;
    position: relative;
}

#nav-links{
    display:none;    
}
#nav-links a{
text-decoration: none;
margin-top: 5px;
margin-left: 10px;
padding: 5px 5px 10px 10px; 
color:black;
font-weight: 600;
}
#nav-links a:hover{
    text-decoration: underline;
    text-decoration-color: rgb(49, 52, 235);
    text-decoration-thickness: 5px;
}
#logo{
    position:relative;
    left: 10px;
    font-size: 1.8rem;
    text-decoration: none;
    color: rgb(74, 76, 236);
    font-weight: 700;
}
.icon{
    position: absolute;
    top:0;
    right:40px;
    font-size: 2rem;
}
#container{
    display:flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
    
}
#container img{
    height: 400px;
    width:440px;
    margin-top: 40px;
    font-family: 'Asap', sans-serif;
}
.heading h1{
    font-size: 3rem;
    font-family: 'Acme', sans-serif;
    color:black;
}
.heading h1 span{
    color:rgb(74, 76, 236);
}
#btn{
height:40px;
width:120px;
font-size: 1rem;
margin-top: 10px;
color:white;
background-color: rgb(74, 76, 236);
border-radius: 8px;
}
#btn a{
    text-decoration: none;
    color: white;
}
.social-icons{
    margin-left: 200px;
}
.social-icons i{
    height: 40px;
    width: 40px;
}
#about h2{
    text-align:center;
    font-size: 2.6rem;
    color:rgb(74, 76, 236);
    text-decoration: underline;
    text-decoration-color: rgb(74, 76, 236);
    text-decoration-thickness: 5px;
}

#content{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#content img{
    height:400px;
    border-radius: 7px;
}
.para{
    width: 800px;
    font-size: 2rem;
}
#skills h2{
    text-align: center;
    font-size: 2.6rem;
    color:rgb(74, 76, 236);
    text-decoration:underline ;
    text-decoration-color: rgb(74, 76, 236) ;
}
#container2{
    display: flex;
    align-items: center;
    justify-content: center;
}
.para2{
    width: 800px;
    font-size: 2rem;
}
#image1{
    border-radius: 6px;
    height: 550px;
    width: 600px;
}
.wrapping{
    display: flex;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
}
#work h2{
    text-align: center;
    font-size: 2.6rem;
    color:rgb(74, 76, 236);
    text-decoration:underline ;
    text-decoration-color:rgb(74, 76, 236) ;
    text-decoration-thickness: 5px;
}
.wrapping img{
    margin: 10px;
    height: 450px;
    width: 450px;
    transition: 1s ease-in;
}
.wrapping img:hover{
    transform: scale(1.1);
}
#contact h2{
    text-align: center;
    font-size: 2.6rem;
    color:rgb(74, 76, 236);
    text-decoration:underline ;
    text-decoration-color: rgb(74, 76, 236);
    text-decoration-thickness: 5px;
}
form{
    text-align: center;
}
form input{
    font-size: 1.6rem;
    width:400px;
    margin: 10px;
}
textarea{
    font-size: 1.6rem;
}
#submit{
    width:200px;
    background-color: rgb(67, 128, 241);
    border-radius: 5px;
}
#foot{
    background-color: rgba(0, 0, 0, 0.918);
    text-align: center;
    color: white;
}
@media only screen and (min-width:1025px) and (max-width:1200px){
    .para2{
        font-size: 1.4rem;
        margin-left: 10px;
    }
    #image1{
        height:350px;
        width:400px;
        margin-right: 10px;

    }
}
@media only screen and (min-width:769px) and (max-width:1024px){
    .heading h1{
        font-size: 2rem;
    }
    #container img{
        height:300px;
        width:300px;
    }
    .social-icons{
        margin-left: 120px;
        
    }
    .social-icons i{
        height:60px;
        width: 60px;
    }
    .para{
        font-size: 1.6rem;
        width:600px;
        margin-left: 10px;
    }
    #content img{
        height:300px;
    }
    .para2{
        font-size: 1.2rem;
    }
}
@media only screen and (min-width:481px) and (max-width:768px){
    #container{
        display: block;
        margin-left: 20px;
        text-align: center;
    }
    #content{
        display: block;
        text-align: center;
    }
    .para{
        width:90vw;
        font-size: 1.7rem;
    }
    #container2{
        display: block;
        text-align: center;
    }
    .para2{
    width: 90vw;
    }
    #image1{
        height: 400px;
        width: 400px;
        margin-top:10px ;
    }

}
@media only screen and (min-width:320px) and (max-width:480px){
    #topnav{
        width: 100vw;
        text-align: center;
    }
    #container{
        display: block;
        text-align: center;
    }
    .heading h1{
        font-size: 1.8rem;
    }
    #container img{
        height: 300px;
        width: 300px;
    }
    #content{
        display: block;
        text-align: center;
        
    }
    .para{
        width: 90vw;
        font-size: 1.6rem;
    }
    #container2{
        display: block;
        text-align: center;
    }
    .para2{
        width: 90vw;
        font-size: 1.6rem;
    }
    #image1{
        height: 250px;
        width: 300px;
    }
    .wrapping img{
        height: 350px;
        width: 350px;
    }
}